{% extends "admin/templates/admin-template.html" %}

{% block title %}Admin connexion{% endblock %}

{% block main %}

{% if name %}
    <h1>GoldenLine Application</h1>
    <hr>
    <h2>Bonjour {{ name }}</h2>
    <br>

{% else %}
    <h1>Connexion</h1>
    <hr>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(
            class="form-label") }}
        {{ form.name(
            class="form-control"
        ) }}
        <br>
        {{ form.submit(
            class="btn btn-secondary"
        ) }}
    </form>

{% endif %}
{% endblock %}